@using Modelo.Entidades

@model Salario
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Salario</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form method="post" asp-action="Edit">
                <div class="form-group">
                    <label class="control-label">Salario Id</label>
                    <input class="form-control" asp-for="SalarioId" />
                </div>
                @*<div class="form-group">
                    <label class="control-label">Decimos</label>
                    <input class="form-control" asp-for="decterceros.total" />
                </div>*@
                <div class="form-group">
                    <label class="control-label">Personal</label>
                    <input class="form-control" asp-for="Personal.Nombre" />
                </div>
                
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <input class="form-control" asp-for="EstadoSal" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Validar" class="btn btn-primary" />
                </div>
            </form>
        </div>

        @*<div class="col-sm-8">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Personal</td>
                        <td>Empresa</td>
                        <td>Rol</td>
                        <td>Salario 1</td>
                        <td>Salario 2</td>
                        <td>Salario 3</td>
                        <td>Salario Final</td>
                        <td>Estado</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.salarioDetalles)
                    {
                    <tr>
                        <td>@item.Empresa.nombreEmpresa</td>
                        <td>@item.Empresa.Personal.Nombre</td>
                        <td>@item.Roles.comision</td>
                        @if (item.Salarios != null)
                            {
                        <td>@item.Salarios.DecimoTercerSueldo</td>
                        <td>@item.Salarios.DecimoCuartoSueldo</td>
                        <td>@item.Salarios.Utilidades</td>
                        <td>@ViewBag.CalSueldo.Salario(item.Salarios)</td>
                        <td>@ViewBag.CalSueldo.SalAprobado(item.Salarios)</td>
                            }
                            else
                            {
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                            }

                    </tr>
                    }

                </tbody>
            </table>
            
        </div>*@
    </div>



</div>
